#loginPane {
    -fx-background-image: url("../graphics/background.jpg");
    -fx-background-position:center;
    -fx-background-size: 950 700;
    -fx-opacity: 0.80;
}

/*#mainButton4 {*/
    /*-fx-background-image: url("../graphics/hash.png");*/
    /*-fx-background-size: 150 150;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position:center;*/
/*}*/