#loginPane {
    -fx-background-image: url("../graphics/background.jpg");
    -fx-background-position:center;
    -fx-background-size: 950 700;
    -fx-opacity: 0.80;
}
#loginButton {
    -fx-background-color: "#FF9999";
    -fx-background-radius: 50;
    -fx-font-size: 20;
    /*-fx-border-radius: 20;*/
}
.text-field {
    -fx-background-color: "#5555FF";
}
#tile {
    -fx-text-alignment: center;
    -fx-background-color: "#99ff99";
    -fx-background-radius: 10;
    -fx-pref-width: 150;
    -fx-pref-height: 150;
    -fx-wrap-text: true;
}