.toggle-button {
     -fx-min-width: 25.0;
     /*-fx-pref-height: 25.0;*/
     -fx-base: #c61f00;
     -fx-border-width: 0;
 }
.toggle-button:selected,
.toggle-button:selected:focused {
    -fx-background-color: #198c00;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.toggle-button:focused {
    -fx-background-color: #c61f00;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
#filtersMenuBox {
    -fx-background-color: #f7f2d5;
}

